.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__btn {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  margin-bottom: 15px;
  text-transform: uppercase;
}